<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add connectionString="server=(local);database=Simulation_2019_05_24;UID=sa;PWD={enter password};Connection Timeout=300;" name="Simulation" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
